<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nascenia.biyeta">

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".IntigrationGoogleAnalytics.AnalyticsApplication"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Search_Filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- <activity android:name=".Search_Filter" -->
        <!-- &gt;</activity> -->
        <activity
            android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewUserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InboxSingleChat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.InboxListView" />
        </activity>
        <activity
            android:name=".activity.InboxListView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LowsAndTerms"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SendRequestActivity"
            android:label="@string/title_activity_send_request"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RequestSentFromMe"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TermOfUse"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ContactUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ExpiredConnection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MobileVerification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AboutBiyeta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PrivacyPolicy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.OwnUserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopUpCastReligion"
            android:theme="@style/AppTheme.NoActionBarPopUp" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [START firebase_service] -->
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MobileVarification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegistrationOwnInfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegistrationFirstActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ImageChoose" />
        <activity
            android:name=".activity.RegistrationPersonalInformation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopUpPersonalInfo"
            android:theme="@style/AppTheme.NoActionBarPopUp" />
        <activity
            android:name=".activity.RegistrationFamilyInfoFirstPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopUpFamilyInfoFirstPage"
            android:theme="@style/AppTheme.NoActionBarPopUp" />
        <activity
            android:name=".activity.RegistrationChoiceSelectionFirstPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SelectedImageActivity" />
        <activity android:name=".activity.UploadImage" />
        <activity
            android:name=".activity.RegistrationChoiceSelectionThirdPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopUpChoiceSelectionThirdPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RegistrationFamilyInfoSecondPage" />
        <activity android:name=".activity.PopUpFamilyInfoSecondPage"></activity>
    </application>

</manifest>