<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nascenia.biyeta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/b_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Login"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.Search_Filter"
            android:theme="@style/AppTheme" />

        <!-- <activity android:name=".Search_Filter" -->
        <!-- &gt;</activity> -->
        <activity
            android:name=".activity.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewUserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.InboxSingleChat"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.InboxListView" />
        </activity>
        <activity
            android:name=".activity.InboxListView"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".activity.LowsAndTerms"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SendRequestActivity"
            android:label="@string/title_activity_send_request"
            android:theme="@style/TabAppTheme" />
        <activity
            android:name=".activity.RequestSentFromMe"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TermOfUse"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ContactUs"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PaymentActivity"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MobileVerification"
            android:label="@string/title_activity_login" />

    </application>

</manifest>